.wide-container-o {
  background-image: url("../images/buddha.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.origen {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  & > div {
    width: 40%;
  }
  h2,
  p {
    // max-width: 450px;
    margin-block-start: 0px;
    color: white;
  }
}

@media (max-width: $layout-breakpoint-tablet) {
  .origen {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: $layout-breakpoint-mobile) {
  .wide-container-o {
    background-image: none;
    background-color: $lila;
  }
  .origen {
    & > div {
      width: auto;
    }

    h2,
    p {
      color: black;
    }
  }
}
