<div class="wide-container-b">
    <div class="beneficios" id="beneficios">
        <h2>Beneficios</h2>
        <div class="wrap">
            <div>
                <img
                    src="assets/images/icons/flexibilidad.png"
                    alt="Icono chica estirando."
                    width="50px"
                />
                <h3>Aumenta la flexibilidad</h3>
                <p>
                    A pesar de que al principio las posturas parezcan propias de
                    un contorsionista, a medida que se avanza en su práctica, el
                    yoga contribuye a potenciar la flexibilidad muscular.
                </p>
            </div>

            <div>
                <img
                    src="assets/images/icons/sleep.png"
                    alt="Icono luna."
                    width="35px"
                />
                <h3>Aumenta la calidad del sueño y ayuda a dormir mejor</h3>
                <p>
                    Estudios demostraron que las personas que realizaban yoga
                    tardaban 10 minutos menos de media en quedarse dormidas, e
                    incrementaron el número de horas que dormían en un promedio
                    de una hora más por noche. Además, expresaban la sensación
                    de estar más descansadas por la mañana.
                </p>
            </div>

            <div>
                <img
                    src="assets/images/icons/postura.png"
                    alt="Icono chica en posición de yoga."
                    width="50px"
                />
                <h3>Contribuye a aliviar dolores crónicos y posturales</h3>
                <p>
                    Con una práctica bien adaptada, el yoga es muy efectivo para
                    paliar la mayoría de los dolores crónicos como el dolor de
                    cuello, la artritis reumatoide, dolor de rodillas,
                    lumbalgia, dolor de espalda crónico, ciática o fibromialgia,
                    entre otros.
                </p>
            </div>

            <div>
                <img
                    src="assets/images/icons/joven.png"
                    alt="Icono cabeza con paloma en la mente."
                    width="45px"
                />
                <h3>Nos mantiene jóvenes</h3>
                <p>
                    Estudios recientes sugieren que el yoga y la meditación
                    pueden afectar al ADN, protegiéndolo del daño y también
                    evitando y revertiendo los cambios negativos que afectan al
                    proceso de envejecimiento del cuerpo, ya que tiene una
                    incidencia directa sobre la actividad de la enzima
                    telomerasa, clave para la proteger los telómeros en cada
                    división celular.
                </p>
            </div>

            <div>
                <img
                    src="assets/images/icons/ansiedad.png"
                    alt="Icono cabeza con nube en la mente."
                    width="45px"
                />
                <h3>Reduce la ansiedad y el estrés</h3>
                <p>
                    Estudios demuestran que la práctica habitual del yoga
                    disminuye el estado de ansiedad y el estrés de manera
                    similar al de una terapia médica convencional ( aquello de
                    tomar ansiolíticos).
                </p>
            </div>

            <div>
                <img
                    src="assets/images/icons/fuerza.png"
                    alt="Icono chica en posición de yoga."
                    width="50px"
                />
                <h3>Fortalece huesos y músculos</h3>
                <p>
                    ….¡Y sin agujetas! Si se realiza de manera progresiva y
                    adaptada, el yoga evita que el ácido láctico se acumule en
                    el cuerpo, además de reforzar los huesos evitando la pérdida
                    de masa ósea. Un gran antídoto natural contra la
                    osteoporosis, por ejemplo.
                </p>
            </div>

            <div>
                <img
                    src="assets/images/icons/peso.png"
                    alt="Icono cuerpo - figura."
                    width="45px"
                />
                <h3>Quema calorías</h3>
                <p>
                    Probablemente este sea uno de los beneficios del yoga que
                    más atrae al público general. Pero más allá de la estética,
                    lo que más nos interesa es que en un estilo de vida
                    saludable es importante mantener un cuerpo libre de
                    sobrepeso.
                </p>
            </div>

            <div>
                <img
                    src="assets/images/icons/conocimiento.png"
                    alt="Icono cabeza con ojo en la mente."
                    width="45px"
                />
                <h3>Aporta conocimiento personal</h3>
                <p>
                    El practicar yoga nos permite conectar con nuestras
                    emociones, permitiéndonos aprender a identificar las
                    dolencias de nuestro cuerpo, lo que nos permite aprender a
                    conocernos. Al estar conectados el cuerpo y la mente,
                    crearemos un equilibrio donde aprenderemos a ser más
                    sensibles con nosotros mismos y con las demás personas.
                </p>
            </div>
        </div>
    </div>
</div>
