<div class="wide-container">
    <div class="hero">
        <div>
            <picture>
                <source
                    media="(max-height: 350px)"
                    srcset="assets/images/hero2.jpg?as=webp"
                    type="image/webp"
                />
                <source
                    media="(min-height: 400px)"
                    srcset="assets/images/hero2.jpg?as=webp"
                    type="image/webp"
                />
                <img
                    src="assets/images/hero2.jpg?height=400"
                    alt="Una chica práctica posición de yoga en la playa."
                />
            </picture>
        </div>
        <div class="hero-text">
            <h1>
                Inhala el futuro, <br />
                exhala el pasado, <br />
                y siempre respira el ahora.
            </h1>
            <p>
                El yoga nos trae al momento presente, el único lugar donde la
                vida existe.
            </p>
        </div>
    </div>
</div>
