<div class="wide-container-h">
    <div class="historia" id="historia">
        <h2>Breve historia</h2>

        <div class="wrap-container">
            <div class="sutras">
                <picture>
                    <source
                        media="(max-width: 350px)"
                        srcset="assets/images/Yoga-Sutras.jpg?as=webp&width=300"
                        type="image/webp"
                    />
                    <source
                        media="(min-width: 499px)"
                        srcset="assets/images/Yoga-Sutras.jpg?as=webp&width=400"
                        type="image/webp"
                    />
                    <img
                        src="assets/images/Yoga-Sutras.jpg?width=500"
                        alt="Texto de los sutras y persona meditando."
                        loading="lazy"
                    />
                </picture>
                <section>
                    <h3>Los Yoga Sutras de Patanjali</h3>

                    <p>
                        La filosofía del yoga está recogida en los Yoga Sutras
                        de Patanjali (siglo III a. C.). Este texto fue escrito y
                        recopilado entre los siglos II y V antes de Cristo. Está
                        compuesto por cuatro capítulos (concentración, práctica,
                        poderes y liberación) y reúne 195 sūtras, es decir,
                        frases cortas que se deben memorizar. Cada parte del
                        texto tiene como objetivo definir qué es el yoga y cómo
                        se debe practicar para llegar a la liberación.
                    </p>

                    <p>
                        A partir del siglo II después de Cristo la práctica del
                        yoga empezó a esparcirse por otras zonas del mundo. En
                        gran parte, esto sucedió gracias a los árabes, los
                        griegos, los persas y a Marco Polo, el conocido
                        explorador italiano.
                    </p>
                </section>
            </div>

            <div class="actualidad">
                <section>
                    <h3>El yoga en la actualidad</h3>
                    <p>
                        Hoy en día esta disciplina es practicada por millones de
                        personas en todo el planeta. Y no es de extrañar, pues
                        el yoga proporciona la combinación perfecta para lograr
                        el equilibrio entre la mente y el cuerpo. Pero el punto
                        fuerte del yoga es la meditación. Vivimos en un mundo
                        que cada vez es más estresante y el yoga ofrece una
                        forma eficaz de relajarse a través de la meditación, que
                        posibilita una concentración absoluta contigo mismo y el
                        entorno que nos rodea. La práctica del yoga es una
                        solución ideal para hacer frente a los problemas del
                        siglo XXI, controlando los niveles de ansiedad,
                        mejorando la salud mental y también la física.
                    </p>
                </section>

                <picture>
                    <source
                        media="(max-width: 350px)"
                        srcset="assets/images/actualidad.jpg?as=webp&width=300"
                        type="image/webp"
                    />
                    <source
                        media="(min-width: 499px)"
                        srcset="assets/images/actualidad.jpg?as=webp&width=400"
                        type="image/webp"
                    />
                    <img
                        src="assets/images/actualidad.jpg?width=500"
                        alt="Grupo de mujeres en posiciones de yoga."
                        loading="lazy"
                    />
                </picture>
            </div>
        </div>
    </div>
</div>
