<div class="wide-container-m">
<header class="menu">

        <div class="logo">
        <a  href="index.html">
            <img
            src="assets/images/icons/lotus.png"
            alt="Logo del sitio web. Icono de flor de lotus"
            width="40px"
            /></a>
            <a href="index.html" >INFO - YOGA</br>
        </div>

        <nav>
        <ul class="navigation">
            <li><a href="#origen">¿Qué es el yoga y su origen?</a></li>
            <li><a href="#historia">Breve historia</a></li>
            <li><a href="#beneficios">Beneficios</a></li>
            <li><a href="#tipos">Tipos de yoga</a></li>
            <li><a href="#practicas">Prácticas para principiantes</a></li>
        </ul>
        </nav>
    </header>
</div>
