<div class="wide-container-o">
    <div class="origen" id="origen">
        <div>
            <h2>¿Qué es el yoga y cuál es su origen?</h2>
            <p>
                El yoga es mucho más que ejercicio físico. Esta disciplina se
                ocupa del cuerpo, sí, pero también de la mente y el espíritu. De
                hecho, la palabra yoga provendría de la palabra “jug”, la cual
                significa “unir, conectar, relacionar” en sánscrito, la lengua
                clásica de la India, “unión del cuerpo, la mente y el alma”.
                Este término, ha viajado en el tiempo y también en espacio, a lo
                largo de miles de años. Ya desde sus primeros pasos, sus
                practicantes pudieron comprobar los valiosos beneficios que
                tiene el yoga para su salud física, emocional y mental practicar
                yoga de forma constante.
            </p>
            <br />

            <p>
                El origen del yoga se sitúa hace unos 5.000 años a.c. en la
                India, en el período védico. Esto ha hecho que esta disciplina
                compartiera muchos conceptos con tres religiones, el hinduismo,
                el budismo y el jainismo. Sin embargo, es importante aclarar que
                el yoga no es una religión, ya que hay mucha confusión al
                respecto. Es cierto que muchos de los valores e ideas que forman
                parte de su filosofía, los encontrarás también en el hinduismo,
                pero eso no le convierte en una religión. Muchas personas
                practican yoga y meditación teniendo fe en otra religión.
            </p>
        </div>
    </div>
</div>
