<div class="wide-container-p">
    <div class="practicas" id="practicas">
        <!-- Slider main container -->
        <h2>Prácticas para principiantes</h2>
        <div class="swiper swiper-video-main">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <figure class="video">
                        <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/WamU36hXiNw?si=YxlR6PSXzUJpfVQY"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                        ></iframe>
                    </figure>
                </div>

                <div class="swiper-slide">
                    <figure class="video">
                        <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/J2W_A7l3SMQ?si=JvanLPIpr6nlN3p7"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                        ></iframe>
                    </figure>
                </div>

                <div class="swiper-slide">
                    <figure class="video">
                        <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/sXVga-J-ToE?si=F-CwltNSP2IL0S6q"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                        gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                        ></iframe>
                    </figure>
                </div>

                <div class="swiper-slide">
                    <figure class="video">
                        <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/vd1j1nqHhuY?si=tjYFOxZNheFxD9go"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                        ></iframe>
                    </figure>
                </div>

                <div class="swiper-slide">
                    <figure class="video">
                        <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/ZIyuOO7DBrM?si=17MTJnb6oJME_AjJ"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                        ></iframe>
                    </figure>
                </div>

                <div class="swiper-slide">
                    <figure class="video">
                        <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/ca5AMgqrsBI?si=iAZrpTZe-nXiI5Zy"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                        ></iframe>
                    </figure>
                </div>

                <div class="swiper-slide">
                    <figure class="video">
                        <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/LkuagvhLX04?si=ipWjVrfcPTSER0Um"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media;
                    gyroscope; picture-in-picture; web-share"
                            allowfullscreen
                        ></iframe>
                    </figure>
                </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div thumbsSlider="" class="swiper swiper-video-thumbnails">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="
                                ./assets/images/thumbnails/primera-clase.png?as=webp&width=400
                            "
                            type="image/webp"
                        />
                        <img
                            src="./assets/images/thumbnails/primera-clase.png?width=400"
                            alt="Escena de la práctica tu primera clase de yoga"
                            loading="lazy"
                        />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="
                                ./assets/images/thumbnails/vinyasa.png?as=webp&width=400
                            "
                            type="image/webp"
                        />
                        <img
                            src="./assets/images/thumbnails/vinyasa.png?width=400"
                            alt="Escena de la práctica vinyansa"
                            loading="lazy"
                        />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="
                                ./assets/images/thumbnails/kundalini.png?as=webp&width=400
                            "
                            type="image/webp"
                        />
                        <img
                            src="./assets/images/thumbnails/kundalini.png?width=400"
                            ?width="400"
                            alt="Escena de la práctica kundalini"
                            loading="lazy"
                        />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="
                                ./assets/images/thumbnails/hatha.png?as=webp&width=400
                            "
                            type="image/webp"
                        />
                        <img
                            src="./assets/images/thumbnails/hatha.png?width=400"
                            alt="Escena de la práctica hatha"
                            loading="lazy"
                        />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="
                                ./assets/images/thumbnails/yin.png?as=webp&width=400
                            "
                            type="image/webp"
                        />
                        <img
                            src="./assets/images/thumbnails/yin.png?width=400"
                            alt="Escena de la práctica yin yoga"
                            loading="lazy"
                        />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="
                                ./assets/images/thumbnails/bikram.png?as=webp&width=400
                            "
                            type="image/webp"
                        />
                        <img
                            src="./assets/images/thumbnails/bikram.png?width=400"
                            alt="Escena de la práctica bikram"
                            loading="lazy"
                        />
                    </picture>
                </div>
                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="
                                ./assets/images/thumbnails/acro.png?as=webp&width=400
                            "
                            type="image/webp"
                        />
                        <img
                            src="./assets/images/thumbnails/acro.png?width=400"
                            alt="Escena de la práctica acro-yoga"
                            loading="lazy"
                        />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</div>
