<div class="wrap-container-t">
    <div class="tipos" id="tipos">
        <h2>Tipos de yoga</h2>
        <div class="swiper swiper-practicas-gallery">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="assets/images/vinyasa.jpg?as=webp&width=300"
                            type="image/webp"
                        />
                        <img
                            src="assets/images/vinyasa.jpg?width=300"
                            alt="Chica pracicando vinyasa yoga."
                            loading="lazy"
                        />
                    </picture>
                    <h3>Vinyasa Yoga</h3>
                    <p>
                        A pesar de que al principio las posturas parezcan
                        propias de un contorsionista, a medida que se avanza en
                        su práctica, el yoga contribuye a potenciar la
                        flexibilidad muscular.
                    </p>
                </div>

                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="
                                assets/images/kundalini.jpg?as=webp&width=300
                            "
                            type="image/webp"
                        />
                        <img
                            src="assets/images/kundalini.jpg?width=300"
                            alt="Chica pracicando kundalini yoga."
                            loading="lazy"
                        />
                    </picture>
                    <h3>Kundalini yoga</h3>
                    <p>
                        Se basa en el serpiente kundalini, la energía vital que
                        cada uno tiene en su interior. El Kundalini yoga
                        despierta este circuito de energía activando cada uno de
                        los 7 chakras que poseemos. Combina asanas o posturas de
                        yoga, respiración (pranayama), relajación,meditación, y
                        utiliza el canto de mantras en la meditación. Suelen
                        vestirse de blanco y las mujeres cubrirse la cabeza.
                    </p>
                </div>

                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="assets/images/hatha.jpg?as=webp&width=300"
                            type="image/webp"
                        />
                        <img
                            src="assets/images/hatha.jpg?width=300"
                            alt="Chica pracicando hatha yoga."
                            loading="lazy"
                        />
                    </picture>
                    <h3>Hatha yoga</h3>
                    <p>
                        Muchas de las clases populares que se enseñan en la
                        sociedad occidental pertenecen a esta categoría. Por lo
                        general, el hatha yoga es lento y suave. Consiste en
                        mover el cuerpo para lograr diversas posturas que deben
                        mantenerse durante varias respiraciones. El hatha yoga
                        puede mejorar la postura del cuerpo, fortalecer los
                        abdominales y favorecer la atención plena. Las clases de
                        hatha yoga suelen ser una buena opción para
                        principiantes. También es una buena práctica para las
                        personas embarazadas y de edad avanzada.
                    </p>
                </div>

                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="assets/images/yinyoga.jpg?as=webp&width=300"
                            type="image/webp"
                        />
                        <img
                            src="assets/images/yinyoga.jpg?width=300"
                            alt="Chica pracicando yin yoga"
                            loading="lazy"
                        />
                    </picture>
                    <h3>Yin Yoga</h3>
                    <p>
                        El complemento perfecto al yang. Yin yoga es un estilo
                        relajado ideal para eliminar tensiones, ya que se centra
                        en la fascia y los tejidos conectivos. Son posturas
                        sentadas y los estiramientos se mantienen junto a la
                        respiración entre 2 y 5 minutos, siendo esto una especie
                        de meditación, ayudando así a combatir la ansiedad y el
                        estrés además de incrementar la relajación. Este tipo de
                        yoga también es ideal para principiantes.
                    </p>
                </div>

                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="assets/images/bikram.png?as=webp&width=300"
                            type="image/webp"
                        />
                        <img
                            src="assets/images/bikram.png?width=300"
                            alt="Chica pracicando bikram yoga"
                            loading="lazy"
                        />
                    </picture>
                    <h3>Bikram Yoga</h3>
                    <p>
                        También conocido como Hot Yoga, este estilo se practica
                        en una sala a 40° C, con una humedad del 40%, para
                        lograr que los distintos sistemas corporales (el
                        linfático, el sanguíneo o el cardiovascular) se activen.
                        A través del calor intenso, los músculos se vuelven
                        dúctiles y los estiramientos son más fáciles. La
                        práctica consiste en 26 posturas en un orden específico
                        y dos técnicas de respiración y una duración de 90 min.
                        Aunque es ideal para adelgazar y elimina toxinas, no
                        cualquier persona puede practicarlo.
                    </p>
                </div>

                <div class="swiper-slide">
                    <picture>
                        <source
                            media="(min-width: 299px)"
                            srcset="assets/images/acro.webp"
                            type="image/webp"
                        />
                        <img
                            src="assets/images/acro.webp?width=300"
                            alt="Pareja pracicando acro yoga"
                            loading="lazy"
                        />
                    </picture>
                    <h3>Acro Yoga</h3>
                    <p>
                        Es un tipo de yoga que facilita el juego y la conexión,
                        pues se practica con dinámicas en pareja y en grupo. Es
                        una metodología que integra las asanas de yoga con la
                        acrobacia y los estiramientos asistidos del masaje
                        tradicional tailandés. Muy adecuado si quieres explorar
                        tu conexión cuerpo-mente de una manera lúdica y
                        creativa, y en contacto con los demás. Con las clases de
                        acro yoga puedes desarrollar fuerza y flexibilidad pero
                        sobre todo confianza, independientemente de roll que te
                        toque jugar durante la clase, ya sea como volador o como
                        base.
                    </p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
