@use "sass:color";

$font-family-serif: "DM Serif Display", serif;
$font-family-sans-serif: "Open Sans", sans-serif;

$blue: #092fcd;
$bluedarken: color.adjust($blue, $lightness: -15);
$lila: #bbc5f1;
$orange: #fbba18;
$grey-background: #e9e4ea;

$layout-breakpoint-tablet: 1100px;
$layout-breakpoint-mobile: 850px;
